body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#search-all-input::placeholder {
  color: #f8f9fa;
  font-weight: bold;
}

#search-one-input::placeholder {
  color: #6c757d;
  font-weight: bold;
}

html,
body,
#root {
  height: 100vh;
}
